#terms{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 9;
}
.click {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #92bbc8;
    background: -moz-linear-gradient(top, #92bbc8 0%, #92bbc8 33%, #dcacda 100%);
    background: -webkit-linear-gradient(top, #92bbc8 0%,#92bbc8 33%,#dcacda 100%);
    background: linear-gradient(to bottom, #92bbc8 0%,#92bbc8 33%,#dcacda 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92bbc8', endColorstr='#dcacda',GradientType=0 );


    opacity: 0.3;
    z-index: 10;
}
#terms-wrapper{
    border-radius: 5px;
    margin: 5% auto 0;
    height: 60%;
    min-height: 500px;
    background: #f3f3f3;
    width: 40%;
    min-width: 800px;
    z-index: 11;
}

.terms-inner-wrapper{
    overflow-y: auto;
    width: 95%;
    height: 97%;
    margin: 1% auto;
    padding: 0 10px 0 10px;
}.terms-inner-wrapper > h1, h2, h3, h4, h5, h6{
    text-align: center;
}

 /***********************
*          MOBILE          *
 *************************/
@media (max-width: 1032px){
    #terms-wrapper{
        height:60%;
        min-height: 300px;
        min-width: 600px;
    }
}
@media (max-width: 640px){
    #terms-wrapper{
        height: 98%;
        width: 98%;
        margin: 1% auto 0;
        min-width: 0;
        min-height: 0;
    }
}
#login-wrapper, #stufe-wrapper{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(1000px, -50%);
    transition: transform 1s ease, opacity 0.5s linear;
    width: 600px;
    height: 210px;
    min-height:100px;
    padding-top: 20px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 12px 0px rgba(76,175,79,1);
    display: flex;
    background: white;
    justify-content: center;
    align-content: center;
}
#stufe-wrapper{
    display: block;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/***************
 *    Tablet
 ***************/

@media (max-width: 650px){
    
    #login-wrapper, #stufe-wrapper{
        width: 90%;
    }
    #login-form, #stufe-form{
        width: 90%;
    }

}

/****************
 *  Scrollbar   *
 ****************/

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#stufe-wrapper > h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
#stufe-form{
    width: 90%;
    margin:0 auto;

}
.nointeract{
    opacity: 0.4;
    pointer-events: none;
}
#selectkurs-wrapper{
    width: 100%;
    height: 100vh;
    z-index: 3;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    overflow-y: auto;
}
#selectkurs-inner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    flex-wrap: wrap;
    margin: 0;
}
.kurs-select{
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}
.kurs-select-inner{
    width: 100%;
    height: 100%;
    box-shadow: -4px 0px 16px 0px rgba(38,153,0,0);
    transition: all 0.2s ease;
    background: lightgrey;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.selected > div{
    width: 90%;
    height: 90%;
    /*box-shadow: -4px 0px 16px 0px rgba(38,153,0,1);*/
    background: #4CAF50;
    color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.kurs-select-inner > h6{
    text-align: right;
    font-size: 12px;
    margin:0;
    margin-right: 5px;
    padding-bottom: 5px;
}
.kurs-select-inner > div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 17px);
    text-align: center;
}
#selectkurs-header{
    width: 80%;
    min-height: 20%;
    text-align: center;
    color: #444;
    font-weight: 600;
}
#kurse-title-container{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
#kurse-title-container > span{
    display: block;
    width: 50px;
}

@media (max-width: 800px){

    #selectkurs-inner-wrapper{
        width: 100%;
    }
    #selectkurs-header{
        width: 100%;
        height: 30%;
    }#selectkurs-header > h1{
        margin-bottom: 0;
    }
}
#anzeigen-wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tag-wrapper{
    width: 70%;
    height: 80%;
    background: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px #45a049;
}
@media (max-width: 730px){
    #tag-wrapper{
        width: 95%;
    }
}

#anzeigen-wrapper > img{
    width: 4%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
    transition: all 0.3s cubic-bezier(0.54, 0, 0.33, 1.01);
    background: #f4f4f4;
    opacity: 0.75;
}
@media (max-width: 730px){
    #anzeigen-wrapper > img{
        border: medium none;
        border-radius: 0;
        background: none;
        position: fixed;
        width: 40px;
        opacity: 0.4;
    }
    #rightarrow{
        top: 45%;
        right: 0;
    }
    #leftarrow{
        top: 45%;
        left: 0;
    }
}
#anzeigen-wrapper > img:hover{
    opacity: 1;
}
.tag{
    width:100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
    padding-bottom: 15px;
}
#inner-tag-wrapper{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
.tag > h1{
    margin:0;
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
}
.tag > table{
    width: 80%;
    margin: 30px auto 0;
}