
<mat-card class="center" style="margin-bottom: 50px!important;margin-top: 10px!important;">
  <mat-tab-group style="width: 100%!important;" [selectedIndex]="selectedIndex" (selectChange)="resetDay()">

    <mat-tab *ngFor="let woche of tts" [label]="woche.woche">


      <mat-tab-group class="small-tabs" style="width: 100%!important;" [selectedIndex]="selectedDay" >

        <mat-tab *ngFor="let tag of woche.tt; let i = index" [label]="TAGE[i]">
          <br><br>
          <table class="table table-hover text-center">
            <tbody>
            <ng-container *ngFor="let stunde of tag; let stundei = index">
              <tr *ngIf="!stunde[0].isDouble">
                <td>{{ (stundei + 1) }}<span *ngIf="stunde[0].hasDouble">{{'/' + (stundei + 2) }}</span></td>
                <td *ngFor="let fach of stunde">
                  <span [ngClass]="{'font-weight-bold': fach.sel}">{{fach.fach}}</span><br>
                  <span [ngClass]="{'font-weight-bold': fach.sel}">{{fach.raum}}</span>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>

        </mat-tab>


      </mat-tab-group>



    </mat-tab>


  </mat-tab-group>
</mat-card>


<mat-card class="center" style="margin-bottom: 50px!important;margin-top: 10px!important;">

	<mat-tab-group style="width: 100%!important;"> 																		<!-- A/B Woche -->
		<mat-tab *ngFor="let woche of weekTTs" [label]="woche.woche">	<!-- A/B Woche -->

			<table class="table table-hover text-center">
				<tbody>

				<tr><td></td><td *ngFor="let tag of TAGE"></td></tr>
				<tr><th></th><th *ngFor="let tag of TAGE" class="font-weight-bold">{{tag}}</th></tr>
				<tr *ngFor="let stunde of woche.tt; let i = index">
					<td class="font-weight-bold">{{i + 1}}</td>
					<td *ngFor="let fach of stunde">{{fach?.fach}}</td>
				</tr>

				</tbody>
			</table>

		</mat-tab>																								<!-- A/B Woche -->
	</mat-tab-group>

</mat-card>
