<mat-card class="center" style="margin-bottom: 50px!important; margin-top: 10px!important;">
  <br>
  <h1>Better Gym Wue <span class="text-muted">v. {{version}}</span></h1>
  <p>Dieser Service wird nicht von dem Gymnasium der Stadt Würselen unterstützt oder gesponsert und ist ein alleiniges Projekt von FoseFx </p>

  <div *ngIf="up">
    <div class="pulseing" style="width: 100%; height: 2px;"></div><br>
    <h2 class="text-muted">Update ({{upDATE | date}}):</h2>
    <p class="text-muted" style="margin-left: 10px"><b>{{msg}}</b></p>
    <p>Für Updates musst du BGW einfach aktualisieren. D.h. im Browser z.B. <b>F5</b> oder <b>Shift + F5</b>. Oder einfach auf den Button klicken:</p>
    <div style="width: 100%; height: 150px; display: flex; align-items: center; justify-content: center;">
      <button mat-raised-button onclick="location.reload()" style="height:44px!important;">
        <mat-icon class="pulseing-color" style="transform: rotate(40deg) scale(-1, 1)">replay</mat-icon>
      </button>
    </div>
    <p>Das musst du ggf. mehmals machen, wenn es nicht funktioniert, versuch es später nochmal.</p>
    <div class="pulseing" style="width: 100%; height: 2px;"></div>
    <br>
  </div>


  <hr *ngIf="!up">
  <h2>Legende:</h2>
  <mat-card>
    <h2><small class="text-muted">Info-Box:</small></h2>
    <table style="width: 80%; text-align: center; margin: 0 auto;" class="table table-sm">
      <tbody>
      <tr><td class="bold">Überschrift</td></tr>
      <tr><td>Normale Informationen</td></tr>
      <tr><td class="schulplaner">Informationen aus dem Schulplaner</td></tr>
      </tbody>
    </table>
    <br>
    <h2><small class="text-muted">Vertretungsdaten:</small></h2>
    <br>
    <table class="table table-hover" style="width: 80%; margin: 0 auto; text-align: center">
      <tbody>
      <tr><td>Normaler Unterricht</td></tr>
      <tr><td class="vertretung">Vertretung</td></tr>
      <tr><td class="entfall">Entfall (oder Selbst. Arbeiten)</td></tr>
      <tr><td class="raumV">Raumvertretung</td></tr>
      <tr><td class="klausur">Klausur</td></tr>
      <tr><td class="uncertain">Lehrer fehlt, keine weiteren Informationen</td></tr>
      </tbody>
    </table>
  </mat-card>
  <br>
  <hr>
  <br>
  <mat-card>
    <h2>Source Code</h2>
    <p>Der Code ist <a href="https://github.com/FoseFx/BetterGymWue">in diesem GitHub Repo</a> zu finden</p>
    <br>
    <h2>Spenden?</h2>
    <p>BTC Adresse: <a href="bitcoin:1KN1mKBuacfZaDgPAzd3U78uthSjSY41uQ">1KN1mKBuacfZaDgPAzd3U78uthSjSY41uQ</a><br>
        Paysafecard Restguthaben:
        <a href="mailto:fosefx@pm.me?subject=BGW%20Paysafecard%20Spende&body=Hier%20eine%20Paysafecard%20Spende%3A%20%0A%0AHIER%20DEN%20PSC%20CODE%20EINF%C3%9CGEN%0A%0AMfg%0ADEIN%20NAME">
          fosefx@pm.me
        </a>
      <br>
      <b>Vielen Dank, dass du das Projekt unterstützt!</b>
    </p>
    <br>
  </mat-card>

<hr>
  <br><br><br>
  <mat-card>

    <h2>FAQ</h2>
    <h3>Wer hat das gemacht?</h3>
    <p><a href="http://fosefx.com/">Ich.</a></p>
    <div style="clear: left"></div>

    <h3>Gibt es irgendetwas was ich wissen muss?</h3>
    <p> Die Kurs Cloud wir zu jedem Halbjahr zurückgesetzt.</p>
    <div style="clear: left"></div>

    <h3>Wie viel mobile Daten werden verbraucht?</h3>
    <p>Beim ersten laden (inklusive Setup von Kursen etc.) werden in etwa <span class="text-muted">1.6 MB</span> verbraucht. Danach sollten nur etwa <span class="text-muted">40 KB</span> anfallen!</p>

    <div style="clear: left"></div>
    <h3> Brauch ich ständig internet?</h3>
    <p>Nein. Für eine Verbindung zu den Vertretungsdaten natürlich schon.</p>
    <div style="clear: left"></div>

    <h3>Warum nicht die <a>App</a>?</h3>
    <ul style="margin-left: 3em; margin-right: 3em;">
      <li>Keine Sicherheitsprobleme (wie hart gecodete Passwörter)</li>
      <li>Bessere Visuals</li>
      <li>Multiplatform Support (iOS, Android, Windows[Phones], OsX, Linux, sogar dein f*cking Fernseher)</li>
      <li>Kurs Cloud</li>
    </ul>
    <div style="clear: left"></div>

    <h3>Sind meine Daten sicher?</h3>
    <p>Ja. Um <a href="https://de.wikipedia.org/wiki/Cross-Origin_Resource_Sharing">CORS</a> Verbote zu umgehen verwende ich ein Proxy Script, welches die angefragten Daten kurz zwischengespeichert. Der Code dafür ist ebenfalls im  <a href="https://github.com/FoseFx/BetterGymWue">Github Repo</a>. <b>Deine in der Kurscloud angegebenen Daten sind es nicht!</b> Das System ist autorisierungsfrei aufgebaut, keine Nutzer, keine Passwörter. Das löschen dieser ist nicht mehr möglich, da es keine Möglichkeit gibt zu Beweisen, dass du die ID registriert hast. (Das überschreiben aber auch nicht).</p>

    <div style="clear: left"></div>

    <h3>Wo werden meine Daten gespeichert?</h3>
    <p>Ich verwende Firebase Realtime DB um die Kursdaten zu speichern. <b>Ist das nicht unsicher?</b> Nein. Google sagt da: <span class="text-muted">"Neither party will use or disclose the other party's Confidential Information without the other's prior written consent except for the purpose of performing its obligations under this Agreement or if required by law, regulation or court order; in which case, the party being compelled to disclose Confidential Information will give the other party as much notice as is reasonably practicable prior to disclosing the Confidential Information if permitted by law"</span></p>
    <div style="clear: left"></div>
  </mat-card>

  <br><br>
</mat-card>

