<div style="height: calc(100vh - 64px); display: flex; align-items: center; justify-content: center; overflow: hidden" *ngIf="show">
  <div class="card border-light mb-3 center" style="max-width: 30rem;">
    <div class="card-header">Login<span class="text-muted"> (GymWue Daten)</span></div>
    <div class="card-body">

      <form #loginForm="ngForm" (submit)="formSubmitted()">
        <mat-form-field style="width: 20rem!important;">
          <mat-select placeholder="Nutzer" ngModel name="nutzer" required>
            <mat-option value="schueler">schueler</mat-option>
          </mat-select>
        </mat-form-field><br>


        <mat-form-field style="width: 20rem!important; "
        floatLabel="auto">
          <input matInput type="password" placeholder="Passwort" style="box-shadow: none" ngModel name="psw" required> <!--style="width: 20rem"-->
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" [ngClass]="{'disabled': !loginForm.valid, 'btn-primary': fine, 'btn-danger': !fine}">Login</button>
      </form>
    </div>
  </div>
</div>
