.full{
  width: 100%;
  /*height: calc(100vh - 64px);*/

  display: block;
  /*top: 64px;*/
  overflow: auto;
}

@media (max-width: 599px){
  .full{
    height: calc(100vh - 56px);
    /*top: 64px;*/
  }
}

.hidden{
  display: none;
}
.container{
  width: 90%!important;
  margin-top: 1%;
}
.buttons{
  font-size: 100px;
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  transition: opacity;
}
.fuckYou{
  min-height: calc(100vh - 66px);
}
