.hamnav{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  height: 100%;
  background: whitesmoke;
  z-index: 100;
}
.hamnav *{
  position: relative;
  z-index: 101;
}
mat-toolbar{
  z-index: 100;
}

.head{
  background: url("../../../assets/nav.jpg") no-repeat right top;
  color: white;
  padding: 65px 5px 5px 15px;
}.head *{
   font-weight: lighter!important;
 }
small{
  color: lightgrey!important;
}
mat-nav-list{
  color: #444444;
}
i{
  color: rgba(0, 0, 0, 0.7);
}

.notToolbar{
  top: 64px;
  height: calc(100vh - 64px);
}
@media (max-width: 599px){
  .notToolbar{
    top: 56px;
    height: calc(100vh - 56px);
    overflow: auto;
  }
}
@media (max-width: 300px){
  .title{
    display: none ;
  }
}
hr{
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.pulseing{
  animation-name: pulsebg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes pulsebg {
  0%{background-color: #ef9a9a}
  9%{background-color: #ce93d8}
  18%{background-color: #9fa8da}
  27%{background-color: #90caf9}
  36%{background-color: #80deea}
  45%{background-color: #80cbc4}
  54%{background-color: #a5d6a7}
  63%{background-color: #c5e1a5}
  72%{background-color: #e6ee9c}
  81%{background-color: #fff59d}
  90%{background-color: #ffab91}
  100%{background-color: #ef9a9a}
}
