.hamnav{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  height: 100%;
  background: whitesmoke;
  z-index: 100;
}
.hamnav *{
  position: relative;
  z-index: 101;
}
mat-toolbar{
  z-index: 100;
}

.head{
  background: url("../../../assets/nav.jpg") no-repeat right top;
  color: white;
  padding: 65px 5px 5px 15px;
}.head *{
   font-weight: lighter!important;
 }
small{
  color: lightgrey!important;
}
mat-nav-list{
  color: #444444;
}
i{
  color: rgba(0, 0, 0, 0.7);
}

.notToolbar{
  top: 56px;
  height: calc(100vh - 56px);
}
@media (max-width: 300px){
  .title{
    display: none ;
  }
}
hr{
  margin-top: 0!important;
  margin-bottom: 0!important;
}

#cntnd{
  overflow-y: visible;
}
@media (max-width: 400px) {
  #idekam{
    padding: 0;
  }
}
