<div class="container">
  <div *ngFor="let tt of tts">
    <br>
    <h2>{{tt.woche + " Woche"}}</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let day of tt.tt; let dayi = index;" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag'][dayi] }}
            </mat-panel-title>
            <mat-panel-description>

              <span *ngFor="let stunde of day"><span *ngFor="let k of stunde"><span *ngIf="k.sel">{{k.fach + "&nbsp;"}} </span></span></span>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <table class="table table-hover">
            <tbody *ngFor="let stunde of day; let stundei = index;">
            <tr>
              <td><b>{{stundei + 1}}</b></td>
              <td *ngFor="let k of stunde;" [ngClass]="{'sel': k.sel}">
                {{k.fach}}
              </td>
              <!--              <td>
                              <table class="table table-sm">
                                <tbody>
                                <tr *ngFor="let k of stunde;" [ngClass]="{'sel': k.sel}">
                                  <td>{{k.fach}}</td>
                                  <td>{{k.raum}}</td>
                                </tr>
                                </tbody>
                              </table>

              </td>
  -->
            </tr>
            <tr>
              <td></td>
              <td *ngFor="let k of stunde;" [ngClass]="{'sel': k.sel}">
                {{k.raum}}
              </td>
            </tr>

            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    <br><br>
  </div>
</div>
