<div class="container">
  <h1 class="text-right">{{(_tt.date | date: 'E dd.M.yy')}}</h1>
  <p class="lead text-right">{{woche(_tt.date | date: 'w')}}-Woche</p>
  <button mat-button (click)="reload()"><i class="material-icons">refresh</i></button>
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let e of displayArray; let i = index;" [ngClass]="{
                                                                  'entfall': getOnMyPos(i).type.match('e'),
                                                                  'vertretung': getOnMyPos(i).type == 'v',
                                                                  'raumV': getOnMyPos(i).type == 'r',
                                                                  'klausur': getOnMyPos(i).type == 'k'
                                                                }">
      <td *ngIf="e!=undefined && !e.nd">{{i + 1}}</td>
      <td *ngIf="e!=undefined && !e.nd && !e.isFreistunde">{{e.fach}}</td>
      <td *ngIf="e!=undefined && !e.nd && !e.isFreistunde" [ngClass]="{'bold': !!getOnMyPos(i).newRaum}">{{(getOnMyPos(i).newRaum)? getOnMyPos(i).newRaum : e.raum}}</td>
      <td *ngIf="e!=undefined && !e.nd && !e.isFreistunde">{{e.lehrer}}</td>
      <td *ngIf="e!=undefined && e.vert && !e.isFreistunde">
        <span class="badge badge-pill"
              [ngClass]="{'badge-primary': e.vert == 'V', 'badge-danger': e.vert == 'E'}">!</span>
      </td>
      <td colspan="3" *ngIf="e!=undefined && !e.nd && e.isFreistunde">Frei</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h2><small class="text-muted" *ngIf="!(online | async) && backUpVdSet">{{'Alte Version von ' + (offlineDate | date: 'HH:mm') + ' Uhr am ' + (offlineDate | date: 'dd.MM.')}}</small></h2>
  <h3 *ngIf="info.length > 0">Info:</h3>
  <table *ngIf="info.length > 0" class="table table-sm">
    <tbody>
    <tr *ngFor="let inf of info">
      <td [ngClass]="{'bold':inf.toLowerCase().indexOf('<b>') != -1,'schulplaner': inf.indexOf('SCHULPLANER_INFO') != -1}">{{ unHTML(inf.replace("SCHULPLANER_INFO", "")) }}</td>
    </tr>
    </tbody>
  </table>

  <br>

  <h2 *ngIf="VDStufe.length > 0">{{baseService.myStufe + ": "}} &nbsp;
    <mat-slide-toggle *ngIf="baseService.credentials.l && (online | async)" [(ngModel)]="preLehrer">Lehrer</mat-slide-toggle>
    <mat-slide-toggle *ngIf="baseService.credentials.l && !(online | async)" disabled [checked]="offlinepreLehrer">Lehrer</mat-slide-toggle>
  </h2>
  <table *ngIf="VDStufe.length > 0" class="table table-sm btmtbl">
    <tbody>
    <tr><th>St.</th><th>Kurs</th><th>Typ</th><th>Raum</th><th *ngIf="(baseService.credentials.l && baseService.preLehrer)">Lehrer</th><th>Info</th></tr>
    <tr *ngFor="let v of VDStufe;">
      <td *ngIf="v.nd"><b>{{v.stunde}}</b></td>
      <td *ngIf="v.nd">{{v.fach}}</td>

      <td *ngIf="v.nd">
        <b>{{v.type.toUpperCase()}}</b>
      </td>

      <td *ngIf="v.nd">{{v.newRaum}}</td>
      <td *ngIf="v.nd && (baseService.credentials.l && baseService.preLehrer)">{{v.lehrer}}</td>
      <td *ngIf="v.nd">{{v.info}}</td>
    </tr>
    </tbody>

  </table>
  <br>
</div>
