<mat-card class="center" style="margin-bottom: 10px!important; margin-top: 10px!important;">
  <h1 mat-card-title class="text-left">Google Assistant</h1>
  <p style="text-align: justify">Der Google Assistant ist auf einer Vielzahl an Geräten verfügbar. Smartphones, Google Home, etc. In nur wenigen Klicks kannst du den Assistant nach allem Fragen, was BGW auch kann!
  Du kannst jederzeit wiederkommen, sollten Änderungen vorgenommen worden sein.</p>
  <hr>
  <button *ngIf="!loginned" mat-raised-button class="big-btn" [disabled]="!provider || block" (click)="signIn()">
    <img style="zoom:1.2;transform: translateX(-5px)" width="50" height="50" src="/assets/google.svg">
    <span style="display: inline-block; transform: translateX(-10px)">Sign In with Google</span>
  </button>
  <h3>{{schritt}}</h3>
  <div *ngIf="(loginned && !done)">
    <h3>Angemeldet</h3>
    <p>Damit BGW weiß, wie es deine Kurse aussprechen soll, musst du leider etwas helfen.</p>

    <p class="text-left">Beispiel:</p>
    <table class="table table-hover">
      <tbody>
      <tr><td><h4>TF4</h4></td><td><mat-form-field><input matInput disabled value="Traumfach"></mat-form-field></td></tr>
      <tr><td colspan="2" style="color: gray">"Du hast heute <i>Traumfach</i>"</td></tr>
      </tbody>
    </table>

    <table class="table table-hover">
      <tbody>
      <th colspan="2">Kurse</th>
      <tr *ngFor="let k of base.myKurse; let i = index;">
        <td><h4>{{k.fach}}</h4></td>
        <td><mat-form-field><input [placeholder]="k.fach" [(ngModel)]="aliases[i]" [name]="i" matInput></mat-form-field></td>
      </tr>
      <th colspan="2">Klasse</th>
      <tr *ngFor="let k of base.KlassenKurse; let i = index + base.myKurse.length;">
        <td><h4>{{k}}</h4></td>
        <td><mat-form-field><input [placeholder]="k" [(ngModel)]="aliases[i]" [name]="i" matInput></mat-form-field></td>
      </tr>
      </tbody>
    </table>

    <button mat-raised-button [disabled]="!fulfilled" (click)="dbQuery()">Ok</button>
  <br><br>
  </div>
</mat-card>
<br><br>
