.table{
  text-align: center!important;
}
.entfall{
  color: red;
  font-weight: bold;
}
.vertretung{
  color: lightgreen;
  font-weight: bold;
}
.raumV{
  color: goldenrod;
}
.btmtbl{
  margin-bottom: 30px;
}
.klausur{
  color: blue!important;
  font-style: oblique!important;
}
.uncertain{
  color: grey;
  font-style: italic;
}

.bold{
  font-weight: bold;
}
.schulplaner{
  font-style: italic;
  background: rgba(255, 255, 0, 0.2);
}
