.kurs{
  width: 7em;
  height: 7em;
  overflow: hidden;
  margin: 2px;
}
.top{
  position: absolute;
  top: 2px;
  left: 0;
}
.btm{
  position: absolute;
  bottom: 2px;
  right: -2px;
}
.mdl {
  font-weight: bold;
}
.btn > span {
  display: block;
  width: 4rem;
}
.kurs-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.newLineBefore{
  flex-basis: 100%;
  opacity: 0;
  cursor: initial!important;
  display: block;
  height: 4em;
}
.btn-success{
  color: white!important;
}
.ok{
  color: green;
  font-weight: normal;
}
.tooMuch{
  color: red;
  font-weight: bold;
}
.notSelected{
  color: #444;
  font-style: italic;
}
