<div class="card mb-3 center"
     [ngClass]="{'border-primary': !valid, 'border-success': valid}"
     style="max-width: 55em; margin-top: 10px;">
  <div class="card-header">Kurse für <b>{{_stufe}}</b></div>
  <div class="card-body">
    <h4 class="card-title">Wähle deine Kurse:</h4>
    <h5 style="text-align: center">
      <span *ngFor="let t of titles; let i = index;"
              [ngClass]="{'notSelected': t.state < 1,'ok': t.state === 1,'tooMuch': t.state > 1}"
              style="margin-right: 5px">{{t.t}}</span>
    </h5>

    <mat-checkbox style="text-align: center; display: block; margin: 0 auto" [(ngModel)]="cloud">Auf Kurs Cloud speichern</mat-checkbox>

    <br>
    <button class="btn btn-primary center"
            [ngClass]="{'disabled': !valid}"
            (click)="kursSubmit()">Fertig!</button><br>
    <button class="btn btn-info btn-sm center" data-toggle="modal" data-target="#kursModal">
      Von Cloud laden
    </button>

    <div class="kurs-container">
        <button class="btn kurs"
                *ngFor="let k of stufeKurse; let i = index;"
                [ngClass]="{'btn-light': !k.selected, 'btn-success': k.selected, 'newLineBefore': k.ph === true}"
                (click)="kursSelected(k)"
        >
          <span class="top">{{k.title}}</span>
          <span class="mdl">{{k.fach}}</span>
          <span class="btm">{{k.lehrer}}</span>
        </button>

    </div>
  </div>
</div>


<div class="modal" id="kursModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Von Kurs-Cloud laden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <tbody>
          <tr>
            <td>
              ID
            </td>
            <td>
              <mat-form-field style="width: 100%">
                <input matInput type="number" style="width: 100%" maxlength="4" minlength="4" placeholder="ID" id="kcidi" required>
              </mat-form-field>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="kcb" (click)="loadFormCloud()">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
