<div class="container center">
  <br>
  <h1>Better Gym Wue <span class="text-muted">v. 1.0.17 Alpha</span></h1>
  <p>Dieser Service wird nicht von dem Gymnasium der Stadt Würselen unterstützt oder gesponsort und ist ein alleiniges Projekt von <a href="http://fosefx.com/">FoseFx</a></p>
  <br>
  <p><b>Hi! Erstmal danke, dass du deinen Weg hierher gefunden hast. An dieser WebApp habe ich die letzten paar Monate gearbeitet (Klausuren :c). Das Ziel war eine App für alle zu schreiben, die dazu auch noch flexibel ist. Ich hoffe sie wird euch helfen c:<br>~ Max B.</b></p>
  <br><br>
  <h2>FAQ</h2>
  <h5>Wer hat das gemacht?</h5>
  <p><a href="http://fosefx.com/">Ich.</a></p>
  <h5>Gibt es irgendetwas was ich wissen muss?</h5>
  <p>Die Kurs Cloud wir zu jedem Halbjahr zurückgesetzt.</p>

  <h5>Es ist ja ne Website, wie viel verbrauch ich da?</h5>
  <p>Beim erstem laden (inklusive Setup von Kursen etc.) werden in etwa <span class="text-muted">500KB</span> verbraucht. Dannach sollten nur etwa <span class="text-muted">80KB</span> an!</p>

  <h5>Brauch ich ständig internet?</h5>
  <p>Es kommt auf den Browser an. Viele Browser, wie z.B. der Chrome haben eine Offline-Funktion, bei der werden natürlich die Vertretungsdaten nicht geladen.</p>

  <h5>Warum nicht die <a>App</a>?</h5>
  <ul>
    <li>Keine Sicherheitsprobleme (wie Hartgecodete Passwörter)</li>
    <li>Bessere Visuals</li>
    <li><ul>
      <li>Multiplatform Support (Apples iOS, Android, Windows[Phones], OsX, Linux sogar dein f*cking Fernseher oder Auto)</li>
      <li>Support für alte Geräte (solange der Browser nicht zu alt ist)</li>
    </ul></li>
    <li>Kurs Cloud</li>
    <li>Easy2Use</li>
  </ul>

  <h5>Sind meine Daten sicher?</h5>
  <p>Ja. Um <a href="https://de.wikipedia.org/wiki/Cross-Origin_Resource_Sharing">CORS</a> Verbote zu umgehen verwende ich ein Proxyscript, welches die angefragten Daten kurz zwischenspeichert. Der Code dafür ist ebenfalls im <a href="https://github.com/FoseFx/BetterGymWue">Github Respo</a>. <b>Deine in der Kurscloud angegebenen Daten sind es nicht!</b> Das System ist Autorisierungsfrei aufgebaut, keine Nutzer, keine Passwörter. Das löschen dieser ist nicht mehr möglich, da es keine Möglichkeit gibt zu Beweisen, dass du die ID registriert hast. (Das überschreiben aber auch nicht). </p>
  <h5>Wo werden meine Daten gespeichert?</h5>
  <p>Ich verwende Firebase's Realtime DB um die Kursdaten zu speichern. <b>Ist das nicht unsicher?</b> Nein. Google sagt dazu: <span class="text-muted">"Neither party will use or disclose the other party's Confidential Information without the other's prior written consent except for the purpose of performing its obligations under this Agreement or if required by law, regulation or court order; in which case, the party being compelled to disclose Confidential Information will give the other party as much notice as is reasonably practicable prior to disclosing the Confidential Information if permitted by law"</span></p>
  <br><br>
</div>

