<div class="card mb-3 center"
     style="max-width: 50em; margin-top: 50px"
      [ngClass]="{'border-light': selectedValue !== tempSelectedValue}">
  <div class="card-header">Stufe</div>
  <div class="card-body">
    <h4 class="card-title">Wähle deine Stufe/Klasse aus:</h4>
    <p class="card-text">

      <mat-form-field style="width: 100%">
        <mat-select [(ngModel)]="tempSelectedValue">
          <mat-option *ngFor="let s of stufen; let i = index;" [value]="s">{{s}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-primary center" style="margin-top: 5px"
              [ngClass]="{'disabled': tempSelectedValue.length === 0, 'btn-success': tempSelectedValue === selectedValue}"
              (click)="setValue()">Weiter</button>
    </p>
  </div>
</div>
<app-kurse [stufe]="selectedValue"
           style="width: 100%; transition: opacity 0.5s ease;"
           [ngClass]="{'invisible': !selectedValue}"
></app-kurse>
