<div class="card border-primary mb-3 center" style="max-width: 50em; margin-top: 50px">
  <div class="card-header">Stufe<span *ngIf="selectedValue">: <b>{{selectedValue}}</b></span></div>
  <div class="card-body">
    <h4 class="card-title">Wähle deine Stufe/Klasse aus:</h4>
    <p class="card-text">
      <select class="form-control" (change)="tempSelectedValue = $event.target.value">
        <option></option>
        <option *ngFor="let s of stufen; let i = index;">{{s}}</option>
      </select>
      <button class="btn btn-primary center" style="margin-top: 5px"
              [ngClass]="{'disabled': tempSelectedValue.length === 0}"
              (click)="selectedValue = tempSelectedValue">Weiter</button>
    </p>
  </div>
</div>
<app-kurse style="width: 100%; transition: opacity 0.5s ease;" [ngClass]="{'invisible': !selectedValue}"></app-kurse>
