<mat-drawer-container autosize style="width: 100%; height: 100%; overflow-x: hidden;overflow-y: visible!important;">

  <mat-drawer #hamNav mode="over" class="hamnav">
    <div class="head">
      <h2>Better Gym Wue</h2>
      <h3><small>Made by @FoseFx</small></h3>
    </div>
    <mat-nav-list>
      <ng-container *ngIf="!!win.installpromptevent">
        <hr><br>
        <a mat-list-item (click)="install()"><b><i class="material-icons">get_app</i>&nbsp; Installieren</b></a>
        <br><hr>
      </ng-container>
      <a mat-list-item routerLink="/" (click)="hamNav.close()"><i class="material-icons">home</i>&nbsp; Home</a>
      <a mat-list-item routerLink="cloud" (click)="hamNav.close()"><i class="material-icons">cloud</i>&nbsp; Kurs-Cloud</a>
      <hr>

      <a [ngClass]="{'disabled': !credentialsLiegen}" mat-list-item routerLink='/' [queryParams]="{'force': true}" (click)="hamNav.close()"><i class="material-icons">school</i>&nbsp; Lehrer Zugang hinzufügen</a>
      <a mat-list-item [ngClass]="{'disabled': !baseService.myKurse}" routerLink="stundenplan" (click)="hamNav.close()"><i class="material-icons">assignment</i>&nbsp;Stundenplan</a>
      <hr>
      <a mat-list-item [ngClass]="{'disabled': !baseService.myKurse}" (click)="removeKurse()"><i class="material-icons">delete</i>&nbsp; Kurse löschen</a>
      <a mat-list-item [ngClass]="{'disabled': !baseService.myKurse}" (click)="refreshTT()"><i class="material-icons">refresh</i>&nbsp; Stundenplan aktualisieren</a>
      <hr>
      <a mat-list-item routerLink="agb" (click)="hamNav.close()"><i class="material-icons">gavel</i>&nbsp; Wichtige Hinweise</a>
      <a mat-list-item routerLink="about" (click)="hamNav.close()"><i class="material-icons">account_circle</i>&nbsp; Über</a>
      <hr>
      <a mat-list-item routerLink="help" (click)="hamNav.close()"><i class="material-icons">live_help</i>&nbsp; Hilfe & Feedback</a>
    </mat-nav-list>

  </mat-drawer>

  <div id="cntnd" #cntnd (swiperight)="swipe('r', $event)" (swipeleft)="swipe('l', $event)" style="height: 100%;min-height: 100vh; width: 100%; overflow-x: hidden">

    <mat-toolbar style="position:relative;z-index: 100;" color="primary">
      <button mat-icon-button name="Open/Close Menu" (click)="hamNav.toggle()">
        <mat-icon >menu</mat-icon>
      </button>
      <span class="title">&nbsp; Better Gym Wue</span>
    </mat-toolbar>
    <div class="pulseing" *ngIf="updateAv && !win.location.href.includes('about')" style="width: 100%!important; height: 26px; text-align: center; padding-top: 4px"><p style="color: black; margin: 3px 0 0 0!important;">Zum Updaten neuladen (Infos s. "Über")</p></div>


    <mat-card *ngIf="baseService.justResetted" class="center" style="position:relative; text-align: left!important; padding-bottom: 50px; margin-bottom: 10px!important;">
      <mat-card-header>
        <mat-icon mat-card-avatar>announcement</mat-icon>
        <mat-card-title>{{reset.header | async }}</mat-card-title><span style="clear: both"></span>
        <mat-card-subtitle>{{ reset.message  | async }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card *ngIf="(message.message$ | async)?.count > message.count"
      style="position:relative; text-align: left!important; padding-bottom: 50px; margin-bottom: 10px!important;" class="center">
      <mat-card-header>
        <mat-icon mat-card-avatar>announcement</mat-icon>
        <mat-card-title>{{(message.message$ | async)?.title }}</mat-card-title><span style="clear: both"></span>
        <mat-card-subtitle [innerHTML]="(message.message$  | async)?.msg"></mat-card-subtitle>
      </mat-card-header>
      <button mat-button style="display: block; position:absolute; right: 10px" (click)="message.resetCount()">Schließen</button>
    </mat-card>

    <div *ngIf="baseService.milchglas" style="width: 100%; height: 100vh; position:fixed; z-index: 2; top: 0; left: 0; opacity: 0.7; background: white; display: flex; justify-content: center; align-items: center">
      <div class="spinner center">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
    <div class="container notToolbar" style="width: 100%!important;">
      <div class="col-xl-8 col-lg-10 col-sm-12 col-md-12 center" id="idekam" style="overflow-y: auto">
        <router-outlet *ngIf="done" style="z-index: 0!important; width: 100%" id="rootRoute"></router-outlet>
      </div>
    </div>
  </div>
</mat-drawer-container>
