.badge-pill{
  padding: 0.5em 0.8em;
  border-radius: 10rem;
}
.table{
  text-align: center!important;
}
.entfall{
  color: red;
  font-weight: bold;
}
.vertretung{
  color: lightgreen;
  font-weight: bold;
}
.raumV{
  color: goldenrod;
}
.btmtbl{
  margin-bottom: 30px;
}
