.badge-pill{
  padding: 0.5em 0.8em;
  border-radius: 10rem;
}
.table{
  text-align: center!important;
}
.entfall{
  color: red;
  font-weight: bold;
}
.vertretung{
  color: lightgreen;
  font-weight: bold;
}
.raumV{
  color: goldenrod;
}
.btmtbl{
  margin-bottom: 30px;
}
.klausur{
  color: blue!important;
  font-style: oblique!important;
}
.mine{
  font-weight: bold;
  color: chocolate!important;
}
.bold{
  font-weight: bold;
}
.schulplaner{
  font-style: italic;
  background: rgba(255, 255, 0, 0.2);
}
