@import "reset.css";
.center{
  display: block;
  margin: 0 auto;
}
@media (max-width: 340px){
  .display-3{
    font-size: 3.5rem;
  }
}
.alert{
  width: 33%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s linear;
  z-index: 99999;
}

@media (max-width: 600px){
  .alert{
    width: 80%;
  }
  .container{
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
  }
}


.invisible, .invisible *{
  opacity: 0;
}

.mat-form-field-underline.mat-disabled{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.disabled{
  pointer-events: none!important;
  cursor: default!important;
  opacity: 0.5;
}
*{
  outline: none!important;
}
*::-webkit-scrollbar{
  width: 5px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  padding: 10% auto;
  border-radius: 3px;
}
body{
  background: #fafafa;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
