.full{
  width: 100%;
  display: block;
  overflow: auto;
}
.hidden{
  display: none;
}
.container{
  width: 90%!important;
  max-width: 750px!important;
  margin: 1% auto 0;
}
@media (max-width: 350px){
  .container{
    width: 100%!important;
  }
}

.buttons{
  font-size: 100px;
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  transition: opacity;
}
.fuckYou{
  min-height: calc(100vh - 66px);
}
