.center{
  display: block;
  margin: 0 auto;
}
@media (max-width: 340px){
  .display-3{
    font-size: 3.5rem;
  }
}
.alert{
  width: 33%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s linear;
}
.invisible{
  opacity: 0;
}
