<div class="jumbotron col-md-8 center" style="margin: 50px auto">
  <h1 class="display-3">Wichtige Hinweise</h1>
  <h4 >Diese Version ist im Beta-Stadium, Fehler sind nicht ausgeschlossen</h4>
  <hr class="my-4">
  <h3>Cookies</h3>
  <p class="lead">
    Damit die beitgestellten Dienste optimal funktionieren, gestattet der Nutzer, dass Cookies (auch von Dritten) auf dessen System gesetzt werden dürfen. Diese Cookies enthalten ggf. sensible Daten und Passwörter.</p>
  <hr class="my-4">
  <h3>Kurs-Cloud</h3>
  <p class="lead">Bei Verwendung der Kurs-Cloud erlaubt der Nutzer, dass Daten über die vom Nutzer angegeben Kurse (Kurs, Räume, Lehrer etc.) unverschlüsselt auf Datenbanken des Anbieters gespeichert werden. Diese Daten werden mit Beginn des neuen Halbjahres gelöscht und nicht an Dritte weitergegeben.</p>
  <p class="lead" *ngIf="!redirected">
    <button class="btn btn-success" (click)="baseService.acceptAGB()" >Ich akzeptiere</button>
  </p>
</div>
