#agb{
  margin-top: 10px!important;
  margin-bottom: 50px!important;
}

p, ul{
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
h1, h2, h3, h4, strong{
  text-align: center;
  width: 100%;
  display: block;
}

button{
  display: block;
  margin: 0 auto!important;
}
